.navbarContainer {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99999;
}

.navbarLeft {
    flex: 3;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.navbarCenter {
    flex: 5;
}

.searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    width: 93%;
}

.searchInput:focus {
    outline: none;
}

.navbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.navbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.navbarIcons {
    display: flex;
}

.navbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.navbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    font-size: 12px;
}

.navbarAccount {
    position: relative;
}

.navbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.navbarSubAccount {
    position: absolute;
    list-style: none;
    font-size: 16px;
    background-color: #fff;
    width: 160px;
    top: calc(100% + 10px);
    right: -10px;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 8px 0;
    border-radius: 4px;
    transition: all 0.3s ease-in;
    z-index: 99999;
}

.navbarSubAccount li {
    padding: 4px 10px;
    font-size: 15px;
    color: #616161;
}

.navbarSubAccount li:hover {
    background-color: rgba(201, 201, 201, 0.2);
    cursor: pointer;
}

.navbarSubAccount::before {
    content: "";
    position: absolute;
    right: 4px;
    top: -29px;
    border-width: 20px 21px;
    border-color: transparent transparent #fff transparent;
    border-style: solid;
}
